@media (min-width: 1600px) {
	 .started-slider .started-img-1 {
		 background: url(../images/bg_sm_big1.png) no-repeat center bottom;
		 background-size: cover;
	 }
	 .started-slider .started-img-2 {
		 background: url(../images/bg_sm_big2.png) no-repeat center bottom;
		 background-size: cover;
	 }
	 .started-slider .started-img-3 {
		 background: url(../images/bg_sm_big3.png) no-repeat center bottom;
		 background-size: cover;
	 }
	 .started-slider .started-img-4 {
		 background: url(../images/bg_sm_big4.png) no-repeat center bottom;
		 background-size: cover;
	 }
	 .started-slider .started-img-5 {
		 background: url(../images/bg_sm_big5.png) no-repeat center bottom;
		 background-size: cover;
	 }
	 .started-slider .started-img-n1 {
		 background: url(../images/bg_sm_big_n1.png) no-repeat center bottom;
		 background-size: cover;
	 }
	 
	 /*build area*/
	 .popup-base .b-area-img {
		 height: 873px;
		 background: url(../images/b-area-3.jpg) no-repeat;
	 }
	 .popup-base .b-area-links {
		 width: 1000px;
		 height: 873px;
		 top: 182px;
		 margin-left: -500px;
		 padding-top: 0px;
	 }
	 .popup-base .b-area-link.b-area-link-1 {
		 height: 86px;
		 margin-top: 1px;
	 }
	 .popup-base .b-area-link.b-area-link-1::before {
		 background-image: url(../images/b-link2-1.png);
	 }
	 .popup-base .b-area-link.b-area-link-2 {
	 	height: 80px;
	 	margin-top: -28px;
	 }
	 .popup-base .b-area-link.b-area-link-2::before {
			 background-image: url(../images/b-link2-2.png);
	 }
	 .popup-base .b-area-link.b-area-link-3 {
		height: 94px;
		margin-top: 1px;
	 }
	 .popup-base .b-area-link.b-area-link-3::before {
		 background-image: url(../images/b-link2-3.png);
	 }
	 .popup-base .b-area-link.b-area-link-4 {
		height: 95px;
		margin-top: -33px;
	 }
	 .popup-base .b-area-link.b-area-link-4::before {
		 background-image: url(../images/b-link2-4.png);
	 }
	 .popup-base .b-area-link.b-area-link-5 {
		 height: 93px;
		 margin-top: -29px;
	 }
	 .popup-base .b-area-link.b-area-link-5::before {
		 background-image: url(../images/b-link2-5.png);
	 }
	 .popup-base .b-area-link.b-area-link-6 {
		 height: 91px;
		 margin-top: -23px;
	 }
	 .popup-base .b-area-link.b-area-link-6::before {
		 background-image: url(../images/b-link2-6.png);
	 }
	 .popup-base .b-area-link.b-area-link-7 {
		 height: 91px;
		 margin-top: -26px;
	 }
	 .popup-base .b-area-link.b-area-link-7::before {
		 background-image: url(../images/b-link2-7.png);
	 }
	 .popup-base .b-area-link.b-area-link-8 {
		height: 89px;
		margin-top: -21px;
	 }
	 .popup-base .b-area-link.b-area-link-8::before {
		 background-image: url(../images/b-link2-8.png);
	 }
	 .popup-base .b-area-link.b-area-link-9 {
		height: 87px;
		margin-top: -18px;
	 }
	 .popup-base .b-area-link.b-area-link-9::before {
		 background-image: url(../images/b-link2-9.png);
	 }
	 .popup-base .b-area-link.b-area-link-10 {
		height: 86px;
		margin-top: -17px;
	 }
	 .popup-base .b-area-link.b-area-link-10::before {
		 background-image: url(../images/b-link2-10.png);
	 }
	 .popup-base .b-area-link.b-area-link-11 {
		height: 87px;
		margin-top: -13px;
	 }
	 .popup-base .b-area-link.b-area-link-11::before {
		 background-image: url(../images/b-link2-11.png);
	 }
	 .popup-base .b-area-link.b-area-link-12 {
		height: 86px;
		margin-top: -14px;
	 }
	 .popup-base .b-area-link.b-area-link-12::before {
		 background-image: url(../images/b-link2-12.png);
	 }
}

@media screen and (max-width: 1200px) {
	 .close_in {position: absolute; top: 50%; left: 50%; width: 26px; height: 20px; margin: -10px 0 0 -13px;}
	 
	 /*header*/
	 header a.logo-center {display: none;}
	 header .choose-btn a {padding-left: 0px;}
	 header .choose-btn a::before {display: none!important;}
	 header .tel::before {display: none!important;}
	
	 /*main*/
	 .wrap, .section.about .wrap {width: 707px;}
	 .section .tabs a {padding: 0 33px;}
	 
	 /*slider*/
	 .started-slider {position: absolute;}
	 
	 /*about*/
	 .section.about {background-position: 100% 100%; background-size: 177% auto;}
	 .section.about .about-items {padding: 0 69px;}
	 
	 /*infra*/
	 .section.infra .infra-items {padding-top: 0px;}
	 .section.infra .infra-items .infra-item {margin: 0 0 35px 0!important; padding: 130px 0 0 0!important; z-index: 3;}
	 .section.infra .infra-items .infra-item:last-child {margin-bottom: 0px!important;}
	 .section.infra .infra-items .infra-item .name {display: block; padding-top: 10px;}
	 .section.infra .infra-items .infra-item .image {float: none!important; margin: 0 0 0 0!important; padding-bottom: 24px!important; background: #fff;}
	 .section.infra .infra-items .infra-item .desc {float: none!important; width: auto!important; padding: 0 69px 15px 69px!important; margin: 0 0 0 0!important; text-align: left!important; background: #fff;}
	 .section.infra .infra-items .infra-item .desc h3 {display: none;}
	 .section.infra .infra-items .infra-item .num {top: 20px!important;}
	 
	 /*offices*/
	 .section.offices .item {float: none!important; width: auto; height: auto; margin: 40px 0; padding: 20px 0; position: relative; background: #fff; z-index: 3;}
	 
	 /*flats*/
	 .section.flats .plans_bottom {margin-top: 15px; float: right;}
	 .section.flats .plans_txt {font-size: 24px; text-align: left; margin: 15px 0 0 0; line-height: 48px;}
	 .section.flats .plans .plan-flat .bts {cursor: pointer;}
	 
	 /*map*/
	 .section.map {}
	 
	 /*popups base*/
	 .popup-base {width: 100%; max-width: 1000px;}
	 .popup-base .b-area-img {background-position: top center;}
	 
	 .popup-base .b-param.b-param-floor {width: 25%;}
	 .popup-base .b-param a.next, .popup-base .b-param a.prev {left: 10%;}
	 .popup-base .b-param a.next {left: auto; right: 10%;}
	 .popup-base .b-param.b-param-room {width: 25%;}
	 .popup-base .b-param.b-param-square {width: 40%;}
	 .popup-base .b-param.b-param-back {width: 15%;}
	 .popup-base .b-param.b-param-pm {width: 50%;}
	 .popup-base .b-param.b-param-aplans {width: 35%;}
	 .popup-base .b-param.b-param-title {width: 40%;}
	 .popup-base .b-param.b-param-otitle {width: 75%;}
	 
	 .popup-base .b-param a.prev, .popup-base .b-param a.next {top: 0px; left: 0px; width: 20%; height: 100%; margin: 0;}
	 .popup-base .b-param a.prev::before, .popup-base .b-param a.next::before {width: 16px; height: 30px; top: 50%; left: 50%; margin: -15px 0 0 -8px;}
	 .popup-base .b-param a.next {right: 0px; left: auto;}
	 
	 .popup-base .close {top: 0px; right: 0; width: 10%; height: 110px;}
	 .popup-base .b-plans .plans_compass {margin-right: 0px;}
	 .popup-base .b-plans .plans_txt {font-size: 24px;}
	 
	 .popup-base .b-plans .plans .btn {display: none;}
	 .popup-base .b-plans .plans .plan-flat .bts {cursor: pointer;}
	 
	 .popup-base .b-detail-popup .apart .apart-lt {width: 75%;}
	 .popup-base .b-detail-popup .apart .apart-rt {width: 25%;}
	 .popup-base .b-detail-popup .apart .apart-rt .params .params_item {padding: 12px 12px 0 18px; height: 75px;}
	 .popup-base .b-detail-popup .apart .apart-lt .image {transform: scale(0.75); -webkit-transform: scale(0.75); -moz-transform: scale(0.75);}
	 
	 .popup-base .b-popup-order input, .popup-base .b-popup-order textarea {padding-left: 38px; padding-right: 38px;}
	 .popup-base .b-popup-order textarea {height: 160px; padding-top: 24px; padding-bottom: 24px;}
	 .popup-base .b-popup-order .bts {margin-left: 38px;}
	 /*popups menu*/
	 .pop_menu {padding-top: 20px;}
	 .pop_menu .mtitle {margin-bottom: 20px;}
	 .pop_menu ul li a {height: 82px; line-height: 82px;}
	 header .menu-btn.active {position: fixed; right: 21px!important;}
	 
	 /*popup map*/
	 
	 /*popup order*/
	 .popup-order textarea {height: 160px; padding-top: 24px; padding-bottom: 24px;}
	 
	 /*animation*/
	 
	 /*banner*/
	 .fix-bottom-banner .info p {font-size: 24px;}
}

@media screen and (max-width: 740px) {
	 body {font-size: 15px;}
	 .section .title {font-size: 25px;}
	 .section .title::before, .section .title::after {margin-top: 12px;}
	 .section .subtitle {font-size: 15px; padding: 0 5%;}
	 .bts .btn {font-size: 15px;}
	 .mob {display: block;}
	 .preloader .icon {margin-top: -165px;}
	 
	 /*header*/
	 header .choose-btn {display: none;}
	 header .tel {right: auto; left: 0px;}
	 
	 /*main*/
	 .wrap, .section.about .wrap {width: 300px;}
	 
	 /*slider*/
	 .started-slider {height: 580px;}
	 .started-slider .started-img {height: 580px; background-position: center center;}
	 .section.started {height: 580px;}
	 .section.started .htitle {padding-top: 160px; font-size: 48px; line-height: 62px;}
	 .section.started .hsub_title {font-size: 15px;}
	 .wrapper_inner {margin-top: 580px;}
	 
	 /*About*/
	 .section.about .subtitle, .section.about .tabs, .section.about .about-items .about-item h3 {display: none;}
	 .section.about .about-items {padding: 0; min-height: 420px;}
	 .section.about .about-items .about-item p {line-height: 22px;}
	 
	 /*Infra*/
	 .section.infra .infra-items .infra-item {padding: 0!important; margin: 30px 0!important; background: #fff;}
	 .section.infra .infra-items .infra-item .num {display: none;}
	 .section.infra .infra-items .infra-item .image span {display: none;}
	 .section.infra .infra-items .infra-item .name {font-size: 27px;}
	 .section.infra .infra-items .infra-item .desc {padding: 0 0 15px 0!important;}
	 .section.infra .infra-items .infra-item:last-child .desc {}
	 .section.infra .infra-items .infra-item .desc p {line-height: 22px;}
	 .section.infra .infra-items .infra-item .image img {max-width: 100%;}
	 
	 /*Maps*/
	 .section.map .tabs {display: none;}
	 .section.map .map-tabs {height: 422px;}
	 .section.map .map {height: 422px;}
	 
	 /*Offices*/
	 .section.offices .item .name {font-size: 27px; line-height: 42px;}
	 .section.offices .item .name br {display: block;}
	 .section.offices .item .desc {font-size: 15px;}
	 .section.offices .item .image {margin: 0;}
	 .section.offices .item .image svg {max-width: 100%;}
	 
	 /*Footer*/
	 .footer {height: auto; padding: 12px 0; line-height: 30px; font-size: 15px;}
	 .footer .lt {float: none; width: auto; text-align: center;}
	 .footer .rt {float: none; width: auto; text-align: center;}
	 
	 /*Flats*/
	 .section.flats .plans-params {height: 32px;}
	 .section.flats .plans-floor {width: 49%; height: 32px;}
	 .section.flats .plans-floor a.prev, .section.flats .plans-floor a.next {top: 0px; left: 0px; width: 20%; height: 100%; margin: 0;}
	 .section.flats .plans-floor a.next {left: auto; right: 0px;}
	 .section.flats .plans-floor a.prev::before, .section.flats .plans-floor a.next::before {top: 50%; left: 50%; width: 10px; height: 18px; margin: -9px 0 0 -5px; background-size: 100% 100%;}
	 .section.flats .plans-floor .num {font-size: 21px; padding-right: 7px;}
	 .section.flats .plans-floor .label {font-size: 15px;}
	 .section.flats .plans-menu {width: 49%; text-align: center;}
	 .section.flats .plans-menu a {width: 32px; height: 32px; line-height: 32px; margin: 0 2px; font-size: 11.4px;}
	 .section.flats .plans-menu a[data-plan-size=all] {font-size: 9.6px;}
	 .section.flats .plans_bottom {height: 27px; float: none; margin-top: 8px;}
	 .section.flats .plans_compass {width: 27px; height: 27px; margin-right: 0;}
	 .section.flats .plans_compass::before {background-size: 100% 100%;}
	 .section.flats .plans_compass span {top: 20px; left: -15px; font-size: 11px;}
	 .section.flats .plans_txt {height: auto; font-size: 20px; text-align: left; line-height: 30px; margin-top: -18px; margin-left: 10px;}
	 .section.flats .plans_txt .txt br {display: block;}
	 .section.flats .plans_txt .txt::before {top: 1px; left: -2px; width: 16px; height: 16px;}
	 
	 /*Popups Base*/
	 .popup-base {width: 100%; right: -100%;}
	 .popup-base.open {right: 0px;}
	 .popup-base .b-params {height: 67px;}
	 .popup-base .b-param {height: 66px; padding: 18px 0;}
	 .popup-base .b-param.b-param-floor {width: 40%;}
	 .popup-base .b-param.b-param-pm {width: 60%; border-right: none;}
	 .popup-base .b-param.b-param-aplans {width: 50%;}
	 .popup-base .b-param.b-param-title {width: 50%; border-right: none;}
	 .popup-base .b-param.b-param-title .label {font-size: 10px; line-height: 14px;}
	 .popup-base .b-param.b-param-back {display: none;}
	 .popup-base .b-param.b-param-otitle {width: 100%; border-right: none; padding-top: 16px;}
	 .popup-base .b-param.b-param-otitle .b-otitle {padding-left: 69px; font-size: 26px;}
	 .popup-base .b-param.b-param-otitle .b-otitle::before {width: 69px; background-size: auto 175%;}
	 .popup-base .b-param.b-param-otitle .b-otitle span {display: none;}
	 
	 .popup-base .b-param a.prev, .popup-base .b-param a.next {}
	 .popup-base .b-param a.prev::before, .popup-base .b-param a.next::before {width: 10px; height: 18px; margin: -9px 0 0 -5px; background-size: 100% 100%;}
	 .popup-base .b-param a.next {}
	 
	 .popup-base .b-param.b-param-pm .plans-menu {margin-top: 18px;}
	 .popup-base .b-param.b-param-pm .plans-menu a {width: 32px; height: 32px; line-height: 32px; margin: 0 6px; font-size: 11.4px;}
	 .popup-base .b-param.b-param-pm .plans-menu a[data-plan-size=all] {font-size: 9.6px;}
	 .popup-base[data-step="1"] .b-param.b-param-floor, .popup-base[data-step="2"] .b-param.b-param-floor {display: inline-block;}
	 .popup-base[data-step="1"] .b-param.b-param-room, .popup-base[data-step="2"] .b-param.b-param-room {display: none;}
	 .popup-base[data-step="1"] .b-param.b-param-square, .popup-base[data-step="2"] .b-param.b-param-square {display: none;}
	 .popup-base[data-step="1"] .b-param.b-param-pm, .popup-base[data-step="2"] .b-param.b-param-pm {display: inline-block;}
	 .popup-base[data-step="1"] .b-param.b-param-back, .popup-base[data-step="2"] .b-param.b-param-back, .popup-base[data-step="3"] .b-param.b-param-back, .popup-base[data-step="4"] .b-param.b-param-back, .popup-base[data-step="5"] .b-param.b-param-back  {display: none;}
	 
	 .popup-base .b-param .num {font-size: 21px; padding-right: 7px;}
	 .popup-base .b-param .label {font-size: 15px;}
	 .popup-base[data-step="1"] .mob-back, .popup-base[data-step="2"] .mob-back {display: none;}
	 .popup-base .b-area {display: none;}
	 .popup-base .b-plans {opacity: 1; left: 0px; padding-top: 67px;}
	 .popup-base .b-plans .plans {transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);}
	 .popup-base .b-plans .plans .btn {transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);}
	 .popup-base .b-plans .plans_txt {display: none;}
	 .popup-base .b-plans .plans_bottom {display: none;}
	 .popup-base .b-plans .plans_compass {position: absolute; bottom: 25px; left: 25px; width: 27px; height: 27px; margin: 0;}
	 .popup-base .b-plans .plans_compass::before {background-size: 100% 100%;}
	 .popup-base .b-plans .plans_compass span {font-size: 11.2px; top: 18px; left: -13px;}
	 
	 .popup-base .b-detail-popup {padding-top: 67px;}
	 
	 .popup-base .b-detail-popup .apart .apart-rt {display: none;}
	 .popup-base .b-detail-popup .apart .apart-lt {float: none; width: 300px; margin: 0 0 0 -150px; position: absolute; top: 0px; left: 50%; height: 100%;}
	 .popup-base .b-detail-popup .apart .apart-lt .image {transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); width: 100%;}
	 .popup-base .b-detail-popup .apart .apart-lt .bts {bottom: 20px;}
	 .popup-base .b-detail-popup .apart .apart-lt .image .points {display: none;}
	 
	 .popup-base .b-popup-order {padding-top: 65px;}
	 .popup-base .b-popup-order input, .popup-base .b-popup-order textarea {height: 60px;}
	 .popup-base .b-popup-order textarea {height: 160px;}
	 .popup-base .b-popup-order .bts {position: absolute; width: 100%; bottom: 20px; left: 0px; margin: 0; text-align: center;}
	 
	 .popup-base .b-popup-thanks .thanks .ttitle {font-size: 27px;}
	 .popup-base .b-popup-thanks .thanks p {font-size: 15px; padding: 0 10%;}
	 .popup.popup-base .close {top: auto; right: 10px; bottom: 20px; width: 48px; height: 48px;}
	 
	 /*popups menu*/
	 .pop_menu {padding-top: 15px; width: 100%; right: -100%; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -khtml-box-shadow: none;}
	 .pop_menu.open {right: 0px;}
	 .pop_menu .mtitle {margin-bottom: 15px;}
	 .pop_menu ul li a {height: 62px; line-height: 62px;}
	 header .menu-btn.active {position: fixed; right: 21px!important;}
	 
	 /*popup map*/
	 .popup {width: 100%; right: -100%; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -khtml-box-shadow: none; overflow: auto; overflow-x: hidden;}
	 .popup ul li {display: none; font-size: 27px; line-height: 40px; padding: 20px 25px;}
	 .popup ul li.mob {display: block; background: #fff;}
	 .popup ul li span {font-size: 15px; margin: 0 0 7px 0; line-height: normal;}
	 .popup .close {top: 10px; right: 10px; width: 48px; height: 48px;}
	 .popup .map_box {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; padding-top: 148px;}
	 .popup .map_box .map {float: left; width: 100%; height: 100%;}
	 
	 /*popup order*/
	 .popup-order {}
	 .popup .ptitle {height: 66px; padding: 16px 0 0 69px; font-size: 26px; background-position: left center; background-size: auto 90%; letter-spacing: 0;}
	 .popup .ptitle span {display: none;}
	 .popup-order input, .popup-order textarea {height: 60px;}
	 .popup-order textarea {height: 160px;}
	 .popup-order .bts {position: absolute; width: 100%; bottom: 20px; left: 0px; margin: 0; text-align: center;}
	 .popup.popup-order .close {top: auto; right: 10px; bottom: 20px; width: 48px; height: 48px;}
	 
	 .popup-thanks .thanks .ttitle {font-size: 27px;}
	 .popup-thanks .thanks p {font-size: 15px; padding: 0 10%;}
	 
	 /*banner*/
	 .fix-bottom-banner .info {padding: 8px 68px;}
	 .fix-bottom-banner .info p {font-size: 20px;}
}


/****/

@media screen and (max-width: 500px) {
	 /*About*/
	 .section.about {background-position: 100% 95%; background-size: 260% auto;}
}